.carousel-item, .carousel-inner, .carousel-inner img {
  height: 100%;
  width: 100%;
}

.carousel-item {
  text-align: center;
}

.carousel {
  height: 400px;
}

.card-text {
  width: 400px;
}

.checkout-div {
  height: 400px;
}

.list-div {
  height: 320px;
  overflow-y: scroll;
}

#order-img {
  width: 200px;
  height: 200px;
}

#pizza {
  width: 600px;
}

.custom-select {
  background-color: aqua;
}

#flavour-select {
  width: 250px;
}

#size-select {
  width: 200px;
}

#crust-select {
  width: 150px;
}

#category-select {
  width: 300px;
}

.number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button, .number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
  background-color: #343a40;
}

.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before, .number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
}

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  text-align: center;
}

.number-input.number-input {
  border: 1px solid #ced4da;
  width: 10rem;
  border-radius: .25rem;
}

.number-input.number-input button {
  width: 2.6rem;
  height: .7rem;
}

.number-input.number-input button.minus {
  padding-left: 10px;
}

.number-input.number-input button:before, .number-input.number-input button:after {
  width: .7rem;
  background-color: white;
}

.number-input.number-input input[type=number] {
  max-width: 4rem;
  padding: .5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
}

.order {
  width: 160px;
}

@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color:transparent) {
    .number-input.def-number-input.safari_only button:before, .number-input.def-number-input.safari_only button:after {
      margin-top: -.3rem;
    }
  }
}